// mixins
@mixin flex-center(){
    display: flex;
    justify-content: center;
}


// css code
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #556B2F;
    height: 6rem;
    .main-nav{
       
        @include flex-center();
        ul{
            @include flex-center();
            gap: 1rem;
            margin-top: 2rem;
            li{
                list-style: none;
                color: lightsalmon;
                cursor: pointer;
            }
        }
    }
    .button-wrapper{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        .header-button{
          width: 6rem;
          height: 2rem;
          border-radius: 1rem;
          cursor: pointer;
        }

    }
}
